In [1]:
# Making a function exercise: taking a number
x = int(input('Enter a number: '))
print(f'Multiplication Table for {x} multiples')
for i in range(1,10):
    print(f'{x} x {i} = {x*i}')

Enter a number: 4
Multiplication Table for 4 multiples
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36

In [17]:
def gugudan():
    x = int(input('Enter a number: '))
    print(f'Multiplication Table for {x} multiples')
    for i in range(1,10):
        print(f'{x} x {i} = {x*i}')

In [23]:
# Making a function exercise taking two inputs: number of sampling and seed number
import random

# face frequency counters
frequencies = []
freq1 = 0
freq2 = 0
freq3 = 0
freq4 = 0
freq5 = 0
freq6 = 0

random.seed(20210907)
x = 6_000_000
for roll in range(x):
    face = random.randrange(1, 7)

    # increment appropriate face counter
    if face == 1:
        freq1 += 1
    elif face == 2:
        freq2 += 1
    elif face == 3:
        freq3 += 1
    elif face == 4:
        freq4 += 1
    elif face == 5:
        freq5 += 1
    elif face == 6:
        freq6 += 1

frequencies = [freq1, freq2, freq3, freq4, freq5, freq6]
print(f'Die Face{"Frequency":>12}{"Ratio":>8}')
for index, value in enumerate(frequencies):
    print(f'{index+1:>8}{value:>12}{value/x*100:>8.1f}')

Die Face   Frequency   Ratio
       1      999714    16.7
       2      998894    16.6
       3     1000280    16.7
       4     1001224    16.7
       5     1000994    16.7
       6      998894    16.6

In [35]:
def rolling_dice():
    
    # Making a function exercise taking two inputs: number of sampling and seed number
    import random

    # face frequency counters
    frequencies = []
    freq1 = 0
    freq2 = 0
    freq3 = 0
    freq4 = 0
    freq5 = 0
    freq6 = 0

    random.seed(20210907)
    x = 6_000_000
    for roll in range(x):
        face = random.randrange(1, 7)

        # increment appropriate face counter
        if face == 1:
            freq1 += 1
        elif face == 2:
            freq2 += 1
        elif face == 3:
            freq3 += 1
        elif face == 4:
            freq4 += 1
        elif face == 5:
            freq5 += 1
        elif face == 6:
            freq6 += 1
    
    column1 = [1,2,3,4,5,6]
    column3 = []
    global frequenciess
    frequenciess = [freq1, freq2, freq3, freq4, freq5, freq6]
    for item in frequenciess:
        column3.append(value/x*100)
    return pd.DataFrame([column1,frequenciess,column3]).transpose()

In [36]:
rolling_dice()

     0          1          2
0  1.0   999714.0  16.648233
1  2.0   998894.0  16.648233
2  3.0  1000280.0  16.648233
3  4.0  1001224.0  16.648233
4  5.0  1000994.0  16.648233
5  6.0   998894.0  16.648233

In [37]:
frequenciess

[999714, 998894, 1000280, 1001224, 1000994, 998894]

In [28]:
# Making a function exercise taking two inputs: number of sampling and seed number
import random

# face frequency counters
frequencies = []
freq1 = 0
freq2 = 0
freq3 = 0
freq4 = 0
freq5 = 0
freq6 = 0

random.seed(20210907)
x = 6_000_000
for roll in range(x):
    face = random.randrange(1, 7)

    # increment appropriate face counter
    if face == 1:
        freq1 += 1
    elif face == 2:
        freq2 += 1
    elif face == 3:
        freq3 += 1
    elif face == 4:
        freq4 += 1
    elif face == 5:
        freq5 += 1
    elif face == 6:
        freq6 += 1

column1 = [1,2,3,4,5,6]
column3 = []
frequencies = [freq1, freq2, freq3, freq4, freq5, freq6]
for item in frequencies:
    column3.append(value/x*100)
pd.DataFrame([column1,frequencies,column3]).transpose()

     0          1          2
0  1.0   999714.0  16.648233
1  2.0   998894.0  16.648233
2  3.0  1000280.0  16.648233
3  4.0  1001224.0  16.648233
4  5.0  1000994.0  16.648233
5  6.0   998894.0  16.648233